/* Add documentation here too */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height:100%;
}

main{
    width:100%;
    min-height: 100vh;
}

#hero{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4em;
    background-color: darkgrey;
}

#lft{
    width: 50%;
    display: flex;
    align-items: center;
    min-height: inherit;
    justify-content: space-between;
    flex-direction: column;  
    color:aliceblue; 
}

#lft h3{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-top: 10vh;
    letter-spacing: .1em;
    color: #009C86;
    width: 100%;
}

#rt{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#heading{
    height: 60vh;
    width: 100%;
}
#heading h4{
    font-family: 'Montserrat', sans-serif;
    color:#385A64;
    font-size: 1.3em;
}

#heading h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 4em;
    margin-top: .2em;
}

#mssgImg img{
    width: 40vmax;
    object-fit: cover;

}

@media(max-width: 690px)  {
    #hero{
        flex-direction: column;
        justify-content: space-around;
        padding: 4em;
    }
    #lft{
        width: 100%;
        min-height: initial;
    }
    #lft h3{
        margin-top:0;
    }
    #rt{
        width: 100%;
    }
    #heading{
        height: fit-content;
        margin-top: 6vh;
    }
    #heading h1{
        font-size: 3em;
    }
    #heading h4{
        font-size: 1em;

    }   
}